@CHARSET "EUC-KR";
* {
/*border: 1px solid red;*/
padding: 0px;
margin: 0px;
}

html{height: 100%}
body {height:100%}

body {
      background-color: white !important; 
          
}

header {
	font-size: 11px;
	background-color: #3196dc;
	color: white;
}

/* 
nav {

border-color: #8AC007;
font-size: 11px;
color: white;

}  */

aside#left {
width: 17%;
height: 100%;
min-height: 90%;
margin-top: 0px;
margin-left: 10px;
margin-bottom: 0px;
float: left;
background-color: white;
font-family: 맑은 고딕;
border-left: 1px;
border-top: 1px;
border-bottom: 1px;
border-right: 1px;
border-color: white;
border-style: solid;
font-size: 13px;
}

#left h4 {
text-align: center;
font-family: 고딕, Helvetica, sans-serif;
font-size: 20px;
color: #0469af;
}

#left h4:hover {
text-align: center;
font-family: 고딕, Helvetica, sans-serif;
font-size: 20px;
color: #3196dc;
}

#leftdiv2 ul {
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #3196dc;
list-style: none;
text-indent: 15px;

}

#leftdiv2 ul li {
background-color: white;
color: #3196dc;
line-height: 28px;
}

#leftdiv2 ul li a {
text-decoration: none;
color: #3196dc;
display: block;
}

#leftdiv2 ul li a:hover {
background-color: #dcf1fd;
font-style: bold;
 color: #0469af;
}

#leftdiv2 li:hover{
	background-color: white;
color:#0469af;
}

#leftdiv2 ul li#active {
background-color: white;
color: #3196dc;
}


                                            
                     .menu:hover {      }         /* 마우스 오버 시 아이콘 스타일 지정 */         
                                          
                      #leftdiv2 li:hover .submenu{    font-size: 12px; display: block;      /*visivilty:visible ;*/    
                              -webkit-animation: fadeIn 0.2s ease-in;    }                         

                      /* 서브 메뉴 컨테이너 스타일 지정*/    
                      .submenu{ /*visivilty:hidden;    opacity: 0;*/  display:none;
                                 
                                                
                     }               
                                  



#leftdiv1 {
	
	width: 90%;
	height: 200px;
	margin: 10px;
	border-width: 1px;
	border-color: #0469af;
	border-style: solid;
	text-align: center;
	font-family: 고딕, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #F3F3F3 !important;
	padding-top: 5px;
	border-radius: 5px;
	
}


#leftdiv2 {
	
	width: 90%;
	height: 60%;
	margin: 10px;
	text-align: left;
	font-family: 고딕, Helvetica, sans-serif;
	font-style: bold;
	background-color: white; !important;

}

#main {
background-color: #F6F6F6;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: black;
overflow-y: scroll;
float: left;
width: 81%;
height: 100%;
min-height: 90%;
border-style: solid;
border-color: #0469af;
border-width: 1px;
margin-top: 0px;
margin-bottom: 0px;
padding: 10px;
border-radius: 5px;
} 

/* #div1{
	
  border-width: 1px;
  border-color: #8AC007;
  border-style: solid;
background-color: white;
  width: 85%;
height: 210px;
margin-left: 30px;
margin-top: 20px;
  float: left;
}

#div2{
	
  border-width: 1px;
  border-color: #8AC007;
  border-style: solid;
background-color: white;
width: 85%;
height: 210px;
margin-left: 30px;
margin-top: 20px;
  float: left;
}


#div3{
	
  border-width: 1px;
  border-color: #8AC007;
  border-style: solid;
background-color: white;
width: 85%;
height: 210px;
margin-left: 30px;
margin-top: 20px;
clear: both;
float: left;



}


#div4{
	
  border-width: 1px;
  border-color: #8AC007;
  border-style: solid;
background-color: white;
width: 85%;
height: 210px;
margin-left: 30px;
margin-top: 20px;
float: left;
} */

footer {

font-size: 9pt;
text-align: center;
text-valign: middle;
color: #0469af;
height: 50px;
clear: both;
background-color: white;
}
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

                                             